* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

:root {
  --main: #1992d4;
  --secondary: #facc15;
  --dark: #343434;
  --light: #fff;
  --background-color: #e2e8f0;
  --text: #c1c1c1;
  --third: #c5c6ff;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(100px, 200px) minmax(calc(100vh - 100px), auto);
}

.aside {
  background-color: var(--main);
  display: none;
  color: var(--light);
  padding: 25px;
}

ul {
  list-style-type: none;
}

.aside-header {
  display: flex;
  gap: 30px;
}

.aside-item {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}

a:link,
a:visited {
  color: var(--light);
  text-decoration: none;
  font-weight: 700;
}

aside img {
  width: 30px;
}

img {
  width: 15px;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1.5fr 2fr;
}

.header-top {
  padding: 0 40px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 70px;
  align-items: center;
}

.header-top__search {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 12px;
  align-items: center;
}

.search {
  width: 20px;
  cursor: pointer;
}

.search-bar {
  outline: none;
  border: transparent;
  height: 24px;
  border-radius: 50px;
  padding-left: 20px;
  background-color: var(--background-color);
  font-size: 18px;
}

.header-top__account {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header-top__account img {
  width: 25px;
}

.header-top__account img:nth-child(2) {
  width: 50px;
  border-radius: 100px;
}

.header-bottom {
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-bottom__left {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header-bottom img {
  width: 60px;
  border-radius: 100px;
}

.header-bottom__right {
  display: flex;
  gap: 25px;
}

.header-bottom__right button {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  background-color: var(--main);
  color: var(--light);
  border-radius: 100px;
  font-weight: 700;
}

.main {
  background-color: var(--background-color);
  padding: 25px;
  display: grid;
  grid-template-rows: minmax(50vh auto) minmax(50vh auto);
  gap: 30px;
}

.main-section__title,
.main-sidebar__title {
  margin-bottom: 16px;
}

.main-section {
  grid-row: 1;
}

.main-sidebar {
  grid-row: 2;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}

.projects-cards__text__info,
.main-sidebar__item p {
  margin-top: 8px;
  color: gray;
}

.projects-cards {
  background-color: var(--light);
  padding: 30px;
  border-radius: 8px;
  border-left: 10px var(--third) solid;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.projects-cards__icons {
  align-self: flex-end;
  display: flex;
  gap: 12px;
}

.projects-cards__icons img {
  cursor: pointer;
}

.main-sidebar__box {
  padding-bottom: 50px;
}

.main-sidebar__item {
  padding: 25px;
  background-color: var(--light);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

hr {
  border: 1px var(--text) solid;
}

@media (min-width: 650px) {
  body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 140px minmax(calc(100vh - 140px), auto);
  }

  .aside {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    flex-direction: column;
    gap: 30px;
  }

  .main {
    grid-template-columns: 4fr 1.5fr;
    grid-template-rows: 1fr;
  }

  .main-section {
    grid-column: 1;
  }
  .main-sidebar {
    grid-column: 2;
    grid-row: 1;
  }
}
