* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

:root {
  --main: #1992d4;
  --secondary: #facc15;
  --dark: #343434;
  --light: #fff;
  --background-color: #e2e8f0;
  --text: #c1c1c1;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px minmax(calc(100vh - 100px), auto);
}

.aside {
  background-color: var(--main);
  display: none;
  color: var(--light);
  padding: 25px;
}

ul {
  list-style-type: none;
}

.aside-header {
  display: flex;
  gap: 30px;
}

.aside-item {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}

a:link,
a:visited {
  color: var(--light);
  text-decoration: none;
  font-weight: 700;
}

.main {
  background-color: var(--background-color);
}

img {
  width: 30px;
  color: var(--light);
}

@media (min-width: 650px) {
  body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 140px minmax(calc(100vh - 140px), auto);
  }

  .aside {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    flex-direction: column;
    gap: 30px;
  }
}
